<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd99e914-c282-4f92-84e9-4fde0a8c4f8f" Alias="Document two" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DocumentTwo</Path>
    <Trashed>false</Trashed>
    <ContentType>testDocument</ContentType>
    <CreateDate>2025-11-12T14:46:04</CreateDate>
    <NodeName Default="Document two" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Doc two]]></Value>
    </pageTitle>
  </Properties>
</Content>