<?xml version="1.0" encoding="utf-8"?>
<Content Key="27591875-4d30-4bd9-a3a5-5f2c507c6c93" Alias="Document one" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DocumentOne</Path>
    <Trashed>false</Trashed>
    <ContentType>testDocument</ContentType>
    <CreateDate>2025-11-12T14:45:48</CreateDate>
    <NodeName Default="Document one" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[The First Document]]></Value>
    </pageTitle>
  </Properties>
</Content>