<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f40afd3-baa9-40ea-8926-5bbd7b9ea34f" Alias="Another homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AnotherHomepage</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-03-21T18:06:58</CreateDate>
    <NodeName Default="Another homepage" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[A second homepage has hit the stream]]></Value>
    </title>
  </Properties>
</Content>