<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e947206-c0c3-430c-b7e4-f5dccf3bb5d8" Alias="Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Homepage</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-03-21T18:06:20</CreateDate>
    <NodeName Default="Homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[The main homepage]]></Value>
    </title>
  </Properties>
</Content>