<?xml version="1.0" encoding="utf-8"?>
<Content Key="8381ad3f-38f3-4479-ac48-9bd3626113b4" Alias="Nested page" Level="2">
  <Info>
    <Parent Key="9e947206-c0c3-430c-b7e4-f5dccf3bb5d8">Homepage</Parent>
    <Path>/Homepage/NestedPage</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-03-21T18:06:34</CreateDate>
    <NodeName Default="Nested page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Nested]]></Value>
    </title>
  </Properties>
</Content>